
<div class="row g-0 no-select">
    <div class="control" style="width: 100%" onclick="olodocGoToPage('/index.html')">
        <div class="col col-12">
            <div class="folder-label">Index</div>
            <div><a href="/">«&nbsp;Go to Back</a></div>
        </div>
    </div>
</div>